.header {
    text-align: center;
    margin-top: 18rem;
    margin-right: 18rem
}

.name h2 {
    display: inline-block;
    overflow: hidden;
    max-width: 500px;
    border-right: .15em solid orange;
    margin: 0 auto;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: typing 3.5s steps(100, end),
    blink-caret .75s step-end infinite;
}