.header {
    text-align: center;
    margin-top: 18rem;
    margin-right: 18rem
}

.name h2 {
    display: inline-block;
    overflow: hidden;
    max-width: 500px;
    margin: 0 auto;
    white-space: nowrap;
    letter-spacing: .15em;
}

ul.navbar-list {
    text-align: center;
    display: block;
    letter-spacing: .15em;
}